body{
    padding-top: 20px;
    font-family: 'Inter', sans-serif;
    width: 80%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.description{
    padding: 5px 30px;
    display: flex;
    flex-direction: column;
}

.detail{
    width: 60%;
}

.image {
    width: 20%;
}

input {
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px ;
}

input[type="submit"], input[type="button"] {
    background-color: transparent;
    cursor: pointer;
}