{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">    
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            {% for message in messages %}
                <p classs="text-danger"> {{ message }} </p>
            {% endfor %}
        </div>
    
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="word" id="word" placeholder="Enter the word to search" required>
            <input type="submit" value="Search">

            {% if definitions %}
                <a href="{% url 'index' %}">
                    <input type="button" value="Reset">
                </a>
            {% endif %}
        </form>
    
        <div id="definitions">

            {% if definitions %}
                <p> <strong> Word:</strong> {{ word }} </p>
                <p> <strong> Pronunciation:</strong> {{ pronunciation }} </p>
                
                <div id="descriptions">
                    {% for data in definitions %}
                        <div class="description">
                            <p> <strong> Type:</strong> {{ data.type }}</p>

                            <div class="detail">
                                <p> <strong> Definition:</strong> {{ data.definition }} </p>

                                    {% if data.image_url  %}
                                        <img class="image" src="{{ data.image_url }}" alt="Image of the word {{ word }}">
                                    {% endif %}
                                
                            </div>

                            <p> <strong> Example:</strong> {{ data.example }} </p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
     
        </div>

    </main>
      
</body>
</html>